.inputElement {
  padding: 22px 12px;
  width: 100%;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  outline: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: white;
  margin-top: 15px;
  cursor: pointer;
  box-shadow: 6px 6px 13px -1px rgba(23, 21, 92, 0.06);
  appearance: none;

}
